@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #0f0f0b;
    font-family: 'Roboto', sans-serif;
    color:#ccb73f;
}

header{
    text-align: center;
    font-size: 30px;
    height: 70px;
    
}

.card, .cardH{
    width: 130px;
    height: 170px;
    float: left;
    background-image: url('images/back.jpg');
    cursor: pointer;
    margin: 10px;
    position:relative;
    left:250px;
}



.cardH, .card{
    transition: 500ms;
}

.cardH{
    cursor:auto;
}

.gameboard{
    position: relative;
    left: 20%;
    width: 1200px;
    height: 800px;
    padding: 10px;
}
.container{
    text-align: center;
    height: 500px;
}

.starter{
    text-align: center;
}


select{
    width: 200px;
    height: 30px;
    border-radius: 13px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(102, 204, 185);

}

button{
    width: 250px;
    height: 50px;
    border-radius:10px;
    background-color: #23c43e;
    border: none;
    cursor: pointer;
    transition: 500ms;
    font-size: 20px;
}

button:hover{
    background-color: #11a21d;
}