.card{
    width: 200px;
    height: 250px;
    float: left;
    background-image: url('karta.png');
    cursor: pointer;
    margin: 10px;
}



.cardA{
    width: 200px;
    height: 250px;
    cursor: pointer;
    margin: 10px;
    float: left;
    transition: 600ms;
   
}
